#header {
  background-image: url('../themes/aqua/header-aqua.jpg');
  background-color: #5BDAE1;
}

#subHeader {
  background-image: url('../themes/aqua/gradient-aqua-1x30.gif');
}

.panelHeaderDiv {
  background-image: url('../themes/aqua/gradient-aqua-1x24.gif');
  border-bottom:none;
  border-top:none;
}

table.esriWindowTitleBar {
  background-image:url('../themes/aqua/gradient-aqua-1x24.gif'); 
}

.panelHeaderLabel {
  color:#fff;
}
.appLink, .appLink:visited, .appLink:hover, .appLink:active {
  font-size:70%;
  color:#fff;
  text-decoration:underline;
}

.tasks-menu ul li:hover ul.submenu,
.tasks-menu ul li:hover li:hover ul,
.tasks-menu ul li:hover li:hover li:hover ul,
.tasks-menu ul li:hover li:hover li:hover li:hover ul,
.tasks-menu ul li:hover li:hover li:hover li:hover li:hover ul
{background:#59D6DE; border:1px solid #19859C; border-top-color:#59D6DE; }