#header {
  background-image: url('../themes/blue/header-blue.jpg');
  background-color: #82B8DE;
}

#subHeader {
  background-image: url('../themes/blue/gradient-blue-1x30.gif');
}

.panelHeaderDiv {
  background-image: url('../themes/blue/gradient-blue-1x24.gif');
  border-bottom:none;
  border-top:none;
}

table.esriWindowTitleBar {
  background-image:url('../themes/blue/gradient-blue-1x24.gif'); 
}

.panelHeaderLabel {
  color:#fff;
}
.appLink, .appLink:visited, .appLink:hover, .appLink:active {
  font-size:70%;
  color:#fff;
  text-decoration:underline;
}

.tasks-menu ul li:hover ul.submenu,
.tasks-menu ul li:hover li:hover ul,
.tasks-menu ul li:hover li:hover li:hover ul,
.tasks-menu ul li:hover li:hover li:hover li:hover ul,
.tasks-menu ul li:hover li:hover li:hover li:hover li:hover ul
{background:#81B7DD; border:1px solid #4C97CC; border-top-color:#81B7DD; }  
